<div class="header_wrap">
	<div class="logo"><div><a href="/">PMPO</a></div>
		<div class="tagline">PROJECT</br>MANAGEMENT</br>PLATFORM</br>for OBA/OGA</div>
	</div>

<% if (title=='landing' || title=='more') { %>
	<div class="user_auth_bar">
		<a href="/signin"><div class="signIn_link">Sign In</div></a>
		<span class="or">or</span>
		<a href="/login"><div class="auth_btn">LOG IN</div></a>
	</div>
<% }else if (title=='login' || title=='login_fail') { %>
	<div class="user_auth_bar">
		<a href="/signin"><div class="signIn_link">Sign In</div></a>
	</div>
<% }else if (title=='signin') { %>
	<div class="user_auth_bar">
		<a href="/login"><div class="auth_btn">LOG IN</div></a>
	</div>
<% }else{ %>
	<div class="nav_bar">
		<ul class="nav_panel">
			<a href="/home"><li class="nav_btn">Home</li></a>
			<a href="/projects"><li class="nav_btn">My Projects</li></a>
			<a href="/discuss"><li class="nav_btn">Discussions</li></a>
		</ul> 

		<!-- collapsible nav_panel -->
		<ul id="alt_nav_panel">
			<a href="/home"><li class="nav_btn">Home</li></a>
			<a href="/projects"><li class="nav_btn">My Projects</li></a>
			<a href="/discuss"><li class="nav_btn">Discussions</li></a>
		</ul>

			<ul id="user_acc_panel">
				<li class="user_btn" id="menu_btn"><img src="/images/menu.svg"></li>
				<li class="user_name" id="user_name_out"><%= fname %></li>
				<li class="user_btn">
					<img src="/images/user.svg" id="user_pic">	
					<ul id="user_settings">
						<li class="user_name" id="user_name_in"><%= fname %> |</li>	
						<a href="acc_settings.html"><li class="nav_btn">Account Settings</li></a>
						<a href="/"><li class="nav_btn">Sign Out</li></a>
					</ul>
				</li>
			</ul>
		
	</div>
<% }; %>
	
</div>