<section class="index_info_wrap">
	<div class="row">
		<% for (var i = 0; i < info.length; i++) { %>
			<div class="<%= deco.col_index_all %>">
				<img src="/images/<%= info[i].img %>" class="index_info"></br>
				<span class="intro_txt_exlarg"><%= info[i].tag %></span></br>
				<div class="index_info_disc">
					<%= info[i].summery %> 
				</div>
			</div>
		<% }; %>
	</div>
</section>

<div class="alone_btn">
	<a href="/more"><div class="info_btn">learn more</div></a>
</div>