<% if (title='home') { %>
	<ol class="breadcrumb">
		<li class="active">Home</li>
	</ol>

<% }else if (title='my_projects') { %>
	<ol class="breadcrumb">
		<li><a href="/home">Home</a></li>
		<li class="active">My Projects</li>
	</ol>
	
<% }else if (title='discussions') { %>
	<ol class="breadcrumb">
		<li><a href="/home">Home</a></li>
		<li><a href="/my_projects">My Projects</a></li>
		<li class="active">Discussions</li>
	</ol>
<% }; %>