<!DOCTYPE html>
<html>
<head> <% include ./content/head.ejs %> </head>
<body style="background-color: #DB6C0F">

<header> <% include ./content/header.ejs %> </header>

<% include ./content/login.ejs %>

</body>
</html>
