<!DOCTYPE html>
<html>
<head> <% include ./content/head.ejs %> </head>
<body>

<header> <% include ./content/header.ejs %> </header>

<ol class="breadcrumb">
	<li><a href="/home">Home</a></li>
	<li><a href="/projects">My Projects</a></li>
	<li class="active">Discussions</li>
</ol>

<% include ./content/footer.ejs %>

</body>
</html>
