<!DOCTYPE html>
<html>
<head> <% include ./content/head.ejs %> </head>
<body>

<header> <% include ./content/header.ejs %> </header>

<% include ./content/path_order.ejs %>

<% include ./content/footer.ejs %>

</body>
</html>
