<!DOCTYPE html>
<html>
<head> <% include ./content/head.ejs %> </head>
<body style="background-color: #DB6C0F">

<header> <% include ./content/header.ejs %> </header>


<% if (title=='landing') { %>
	<% include ./content/landing_content.ejs %>
<% }else if (title=='more'){ %>
	<% include ./content/more_on_pmpo.ejs %>
<% }; %>

<!-- <footer>
	<div class="footer_wrap"></div>
</footer> -->

</body>
</html>
