<!DOCTYPE html>
<html>
<head> <% include ./content/head.ejs %> </head>
<body style="background-color: #647678">

<header> <% include ./content/header.ejs %> </header>

<div class="alone_btn alt_auth_bar">
	<a href="/signin"><div class="info_btn">Sign In</div></a></br>
	<a href="/login"><div class="auth_btn">LOG IN</div></a>
</div>

<% if (title=='landing') { %>
	<% include ./content/landing_content.ejs %>
<% }else if (title=='more'){ %>
	<% include ./content/more_on_pmpo.ejs %>
<% }; %>

<!-- <footer>
	<div class="footer_wrap"></div>
</footer> -->

</body>
</html>
